<!--
  public/app/components/core/header/headerView.html

  This view will show the common header for all views.
-->

<!-- HEADER -->
<nav class="navbar navbar-static-top" ng-controller="HeaderController">
    <div class="inner">
      <div class="row">
        <div class="logo col-md-6" ng-click="open('lg')">
          <div logo></div>
          <h3 class="masthead-brand">
            <a>VCP</a>
          </h3>
        </div>
        <nav class="col-md-6">
          <ul class="nav masthead-nav col-md-12">
            <li class="col-md-4 {{isActive('/about')}}"><a href="#/about">About</a></li>
            <li class="col-md-4 {{isActive('/extras')}}"><a href="#/extras">Extras</a></li>
            <li class="col-md-4 {{isActive('/auth')}}">
              <a ng-if="!$root.currentUser.email" href="#/signin" id="header-signin">
                Connexion
              </a>
              <a ng-if="$root.currentUser.email" href="#/logout" id="header-logout">
                {{$root.currentUser.email | limitTo: 3}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
</nav>
<!-- end of masthead -->
