<!--
  public/app/components/core/footer/footerView.html

  This view will show the common footer for all views.
-->

<!-- FOOTER -->
<!--
<div class="mastfoot clearfix">
  <div class="inner">
    <div class="row">
      <div class="col-md-4" id="footer-links-container">
        <a href="#/construction">Terms Of Use</a> • <a href="#/construction">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>
-->

<footer class="footer">
  <div class="inner cover">
    <div class="row">
      <div class="col-md-4" id="footer-links-container">
        <a href="#/termsOfUse">Terms Of Use</a> • <a href="#/policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
