<!--
  public/app/components/tpolicy/privacyPolicy.html
  This view displays the privacy policies of the VCP application. For now, it only
  displays Lorem Ipsum paragraphs.
-->

<div class="inner cover" id="policy">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Privacy Policy</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <p>
        Donec odio dolor, posuere et ipsum et, blandit hendrerit odio. Aenean leo sapien, aliquam non aliquam a, euismod non turpis. Integer luctus nibh dolor, eget tempus sem cursus sit amet. Sed sapien ex, rhoncus in faucibus eu, malesuada quis neque. Duis felis lectus, malesuada in nulla a, molestie elementum tellus. Fusce cursus turpis ante, nec tincidunt est viverra tempus. Praesent eleifend leo eros, at gravida arcu suscipit mattis. Duis at dignissim dolor. Morbi scelerisque mauris a eros pellentesque consequat. Sed blandit lacus vel sapien tincidunt rhoncus. Aenean ullamcorper consequat sapien, et porta massa congue at. Donec vitae libero pretium, tincidunt dolor nec, convallis orci. Mauris pellentesque imperdiet libero nec finibus.
      </p>
      <p>
        Nulla ultricies egestas condimentum. Vestibulum malesuada neque vel enim luctus, ac hendrerit dolor dignissim. Quisque ornare sem blandit augue pharetra, id consectetur justo semper. Suspendisse ipsum sapien, viverra non efficitur varius, imperdiet sit amet lorem. Fusce dignissim ipsum in malesuada aliquam. Mauris volutpat quam auctor molestie feugiat. Vivamus viverra non magna sit amet hendrerit. Sed hendrerit vehicula diam, non ullamcorper justo faucibus eu. Mauris quis est id urna vulputate maximus. In hac habitasse platea dictumst.
      </p>
    </div>
  </div>
</div>
