<!--
  public/app/components/terms/termsOfUse.html
  This view displays the terms of use of the VCP application. For now, it only
  displays Lorem Ipsum paragraphs.
-->

<div class="inner cover" id="termsOfUse">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Terms Of Use</h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla orci purus, pretium in viverra non, pretium ut purus. Etiam dignissim lectus ornare mattis egestas. Ut maximus sodales placerat. Fusce vulputate leo vel ipsum vehicula, vitae ullamcorper sem dignissim. Vestibulum scelerisque, dui interdum bibendum dictum, lectus odio tempus felis, nec aliquet diam enim eget purus. Praesent sit amet commodo eros. Vestibulum eu metus eu justo venenatis sagittis. Sed ac viverra tortor, nec blandit risus. In hac habitasse platea dictumst. Nam iaculis tincidunt ipsum vitae volutpat. Sed pharetra nunc sit amet dui rhoncus, eget efficitur nisl lacinia. Etiam ultricies mauris eu lobortis blandit. Fusce euismod sem eu accumsan volutpat. Nulla nec neque mattis, rhoncus ex a, scelerisque felis. Fusce purus lacus, pretium a justo vel, commodo ullamcorper dolor.
      </p>
      <p>
        Integer sollicitudin ante sit amet metus finibus fringilla. Cras congue purus ac augue varius ullamcorper. Cras sollicitudin est vel augue tempor suscipit. Duis vitae massa tellus. Nam fringilla et sapien sed rutrum. Duis gravida ultrices magna, nec eleifend ipsum interdum eget. Cras porta tortor est, vitae mollis erat elementum id. Integer porta nibh eu quam maximus cursus porttitor id tellus. Donec quis bibendum dolor. Curabitur vitae massa tellus. Etiam risus arcu, aliquam vel congue nec, posuere id arcu. Praesent vel arcu tincidunt, dignissim leo eget, maximus odio. Sed at mauris luctus, tempus urna non, dignissim neque. Etiam ornare, sapien sed convallis tempus, arcu diam bibendum quam, sit amet eleifend metus urna vel lacus. Aliquam nec erat id massa fringilla aliquet.
      </p>
      <p>
        Maecenas enim dolor, elementum ac metus et, tempus sodales ligula. Nunc neque eros, facilisis in tellus in, scelerisque iaculis nunc. Quisque vitae nibh ac dui aliquet vehicula vel tempor dolor. Pellentesque felis erat, viverra nec justo eu, sodales rhoncus odio. Praesent massa massa, luctus at ex facilisis, sollicitudin pulvinar libero. Nunc semper tempus ante, id consectetur magna viverra sed. Aenean dapibus sodales leo, vel scelerisque mauris congue quis. Sed rutrum imperdiet risus, eget semper tortor gravida in. Nulla ullamcorper et orci nec sodales. In hac habitasse platea dictumst. Integer sed urna mollis, condimentum nisi non, egestas lorem. Quisque nec orci nisi. Donec vehicula enim et metus viverra sollicitudin. Vestibulum egestas nisl sit amet cursus tempor. Morbi eleifend laoreet risus.
      </p>
    </div>
  </div>
</div>
