<!--
  public/app/components/about/aboutView.html

  This view will show the "about" page, displaying a real quick description of
  the VCP service. It also displays the currently playing playlist with a short
  description. Finally, it displays a timetable showing when each playlists are
  meant to be played (depending on the timezone, but this feature will arrive
  later on)
-->

<!-- INNER BODY -->
<div class="inner-body about">

  <!-- first row brand + playlist -->
  <div class="row">
    <div class="col-md-6">
      <div class="brand text-left col-md-12">
        Radio VCP
      </div>
      <div class="subbrand text-left col-md-12">
        Simply Good Music
      </div>
    </div>
    <div class="playlist-col col-md-2">
      <div class="playlist-container text-left col-md-12 {{aboutController.playlists.current.cls}}">
        <div class="playlist-title text-left col-md-12">
          {{aboutController.playlists.current.key}}
        </div>
        <div class="playlist-sub text-left col-md-12">
          {{aboutController.playlists.current.label}}
        </div>
      </div>
    </div>
  </div>

  <!-- second row description -->
  <div class="about-description row">
    <div class="col-md-6 text-left">
      Bienvenue dans l’univers VCP. 24/7, VCP vous fournit à tout moment de la semaine
      et de la journée un flux musical de qualité, sans pub et régulièrement mis à jour.
      Consistant en un simple Play/Stop, la musique de vos brunchs, déjeuners, apéros,
      dîners, dates,... est améliorée. L’outil parfait quand vous êtes en panne d’inspiration
      musicale. Branchez vous sur VCP, la solution est toute trouvée. Trois fuseaux de
      diffusion existent (Paris, New York, Singapour). Ils sont déclenchés en fonction
      de votre localisation dans le monde.
    </div>
    <div class="col-md-4 text-left playlist-desc">
      {{aboutController.playlists.current.description}}
    </div>
  </div>

  <!-- third row timetable -->
  <div class="timetable row">
    <div class="col-md-1" id="hour-left">
      <div class="col-md-12 hour-top">
        06h
      </div>
      <div class="col-md-12 hour-11h">
        11h
      </div>
      <div class="col-md-12 hour-23h">
        23h
      </div>
      <div class="col-md-12 hour-02h">
        02h
      </div>
      <div class="col-md-12 hour-bottom">
        06h
      </div>
    </div>
    <div class="col-md-10" id="timetable-container">
      <div class="row seven-cols">
        <div class="col-md-1">
          LUN.
        </div>
        <div class="col-md-1">
          MAR.
        </div>
        <div class="col-md-1">
          MER.
        </div>
        <div class="col-md-1">
          JEU.
        </div>
        <div class="col-md-1">
          VEN.
        </div>
        <div class="col-md-1">
          SAM.
        </div>
        <div class="col-md-1">
          DIM.
        </div>
      </div>
      <div class="row seven-cols">
        <div class="col-md-5 slot">
          MORNING
        </div>
        <div class="col-md-2 slot">
          MORNING WEEK-END
        </div>
      </div>
      <div class="col-md-12 slot">
        AFTER
      </div>
    </div>
    <div class="col-md-1" id="hour-right">
      <div class="col-md-12 hour-top">
        06h
      </div>
      <div class="col-md-12 hour-13h">
        13h
      </div>
      <div class="col-md-12 hour-23h">
        23h
      </div>
      <div class="col-md-12 hour-02h">
        02h
      </div>
      <div class="col-md-12 hour-bottom">
        06h
      </div>
    </div>
  </div>


</div>
<!-- end of INNER BODY>
