<!--
  public/app/components/about/aboutView.html

  This view will show the "about" page, displaying a real quick description of
  the VCP service. It also displays the currently playing playlist with a short
  description. Finally, it displays a timetable showing when each playlists are
  meant to be played (depending on the timezone, but this feature will arrive
  later on)
-->

<!-- INNER BODY -->
<div class="inner-body about">

  <!-- first row brand + playlist -->
  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="brand text-left col-md-12">
        Radio VCP
      </div>
      <div class="subbrand text-left col-md-12 col-sm-12 col-xs-12">
        Simply Good Music
      </div>
      <div class="brand-description col-md-12 text-left">
        Welcome to VCP. 24/7, VCP offers you a quality music stream, with ONLY music.
        It is regularly updated with the freshest trend. It is all about a simple Play/Stop
        where your breakfasts, lunches and diners, Tindates, ... are all pushed up to to a
        higher level. In other words, this is the perfect tool when you are out of
        inspiration. Just come aboard VCP and let you rocked.
      </div>
    </div>
    <div class="playlist-col col-md-6 col-sm-12 col-xs-12">
        <div class="row">
            <div id="about-playlist-container" ng-if="aboutController.playlists.selected.cls != undefined"
                class="playlist-container text-left col-md-4 col-sm-6 col-xs-6 {{aboutController.playlists.selected.cls}}">
              <div class="playlist-title text-left col-md-12">
                {{aboutController.playlists.selected.key}}
              </div>
              <div class="playlist-sub text-left col-md-12">
                {{aboutController.playlists.selected.label}}
              </div>
            </div>
            <div id="about-playlist-container" ng-if="aboutController.playlists.selected.cls == undefined"
                class="playlist-container text-left col-md-4 col-sm-6 col-xs-6 {{aboutController.playlists.current.cls}}">
              <div class="playlist-title text-left col-md-12">
                {{aboutController.playlists.current.key}}
              </div>
              <div class="playlist-sub text-left col-md-12">
                {{aboutController.playlists.current.label}}
              </div>
            </div>
        </div>

        <div class="row">
            <div class="text-left col-md-12" id="playlist-desc-container"
                ng-if="aboutController.playlists.selected.cls != undefined">
                <div class="col-md-12 text-left playlist-desc">
                  {{aboutController.playlists.selected.description}}
                </div>
            </div>
            <div class="text-left col-md-12" id="playlist-desc-container"
                ng-if="aboutController.playlists.selected.cls == undefined">
                <div class="col-md-12 text-left playlist-desc">
                  {{aboutController.playlists.current.description}}
                </div>
            </div>
        </div>


    </div>
  </div>

  <!-- third row timetable -->
  <div class="timetable row">
    <div class="col-md-1" id="hour-left">
      <div class="col-md-12 hours hour-top">
        06h
      </div>
      <div class="col-md-12 hours hour-11h">
        11h
      </div>
      <div class="col-md-12 hours hour-23h">
        23h
      </div>
      <div class="col-md-12 hours hour-02h">
        02h
      </div>
      <div class="col-md-12 hours hour-bottom">
        06h
      </div>
    </div>
    <div class="col-md-10" id="timetable-container">
      <div class="row seven-cols">
        <div class="col-md-1 days">
          LUN.
        </div>
        <div class="col-md-1 days">
          MAR.
        </div>
        <div class="col-md-1 days">
          MER.
        </div>
        <div class="col-md-1 days">
          JEU.
        </div>
        <div class="col-md-1 days">
          VEN.
        </div>
        <div class="col-md-1 days">
          SAM.
        </div>
        <div class="col-md-1 days">
          DIM.
        </div>
      </div>

      <div class="row seven-cols">
        <div class="col-md-5">

          <div class="row seven-cols">
            <div class="col-md-12 slot slot-5h">
              <div class="{{aboutController.getSlotCls([1, 2, 3, 4, 5], 6, 11, 'MRN')}}"
                    ng-click="aboutController.switchPlaylist('MRN')">
                <span>morning</span>
              </div>
            </div>
          </div>

          <div class="row five-cols">
            <div class="col-md-3 slot slot-15h">
              <div class="{{aboutController.getSlotCls([1, 2, 3], 11, 2, 'CRG')}}"
                    ng-click="aboutController.switchPlaylist('CRG')">
                <span>cruising</span>
              </div>
            </div>
            <div class="col-md-2">
              <div class="row seven-cols">
                <div class="col-md-7 slot slot-12h">
                  <div class="{{aboutController.getSlotCls([4, 5], 11, 23, 'CRG')}}"
                        ng-click="aboutController.switchPlaylist('CRG')">
                    <span>cruising</span>
                  </div>
                </div>
                <div class="col-md-7 slot slot-3h">
                  <div class="{{aboutController.getSlotCls([4, 5, 6], 23, 2, 'BFR')}}"
                        ng-class="{'before': aboutController.playlists.playing.key === 'BFR'}"
                        ng-click="aboutController.switchPlaylist('BFR')">
                    <span>before</span>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-2">
          <div class="row seven-cols">
            <div class="col-md-12 slot slot-7h no-padding-right">
                <div class="{{aboutController.getSlotCls([0, 6], 6, 13, 'MWE')}}"
                      ng-click="aboutController.switchPlaylist('MWE')">
                  <span>morning week-end</span>
                </div>
            </div>
          </div>
          <div class="row seven-cols">
            <div class="col-md-12 slot slot-13h no-padding-right">
                <div class="{{aboutController.getSlotCls([0, 1, 6], 13, 2, 'CRG')}}"
                      ng-click="aboutController.switchPlaylist('CRG')">
                  <span>cruising</span>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row seven-cols">
        <div class="col-md-7 slot slot-4h no-padding-right">
            <div class="{{aboutController.getSlotCls([0, 1, 2, 3, 4, 5, 6], 2, 6, 'AFR')}}"
                  ng-click="aboutController.switchPlaylist('AFR')">
              <span>after</span>
            </div>
        </div>
      </div>

    </div>
    <div class="col-md-1" id="hour-right">
      <div class="col-md-12 hours hour-top">
        06h
      </div>
      <div class="col-md-12 hours hour-13h">
        13h
      </div>
      <div class="col-md-12 hours hour-23h">
        23h
      </div>
      <div class="col-md-12 hours hour-02h">
        02h
      </div>
      <div class="col-md-12 hours hour-bottom">
        06h
      </div>
    </div>
  </div>

</div>
<!-- end of INNER BODY -->

<footer class="footer">
  <div class="inner cover">
    <div class="row">
      <div class="col-md-4" id="footer-links-container">
        <a href="#/termsOfUse">Terms Of Use</a> • <a href="#/policy">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
